{% extends "layout.html" %}
{% block body %}
    

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200;1,500;1,700&family=Roboto:wght@300;400&display=swap');



:root {
    --green: #16a085;
    --black: #444;
    --light-color: #777;
    --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
    --border: .2rem solid var(--green);
}
    body {     
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 103px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow:var(--box-shadow);
}

.heading {

    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span {
    text-transform: uppercase;
    color: var(--green);
}




/* css for all button in this website is here  */
.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    color: #16a085;
}

.btn {
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 5rem;
    text-shadow: var(--text-shadow);
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

label {
    color: var(--black);
    font-size: 15px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #16a085;
    border-radius: 3px;
    text-transform: none;
}
#contactForm a{
    text-transform: none;
    text-decoration: none;
    margin-left: 14px;
    color: #16a085;
}



</style>


<body>
    <div class="container">
        <h1 class="heading">sign <span>up</span></h1>
        <form id="contactForm" action="/signup" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="name">password:</label>
            <input type="text" id="name" name="password" required>

            <label for="number">number:</label>
            <input type="number" id="number" name="number" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

        
           <button type="submit" class="btn">Submit</button> <a href="{{ url_for('login') }}">have already account/ Login</a>

        </form>
        <div id="messageStatus"></div>
    </div>



    <!-- <script>
        document.getElementById("contactForm").addEventListener("submit", function (event) {
            event.preventDefault();

            var name = document.getElementById("name").value;
            var email = document.getElementById("email").value;
            var message = document.getElementById("message").value;

            if (name === "" || email === "" || message === "") {
                document.getElementById("messageStatus").textContent = "Please fill out all fields.";
            } else {
                document.getElementById("messageStatus").textContent = "Form submitted successfully!";
                // Here, you can implement the logic to send the form data to a server if needed.
            }
        });
    </script> -->

   
{% endblock %}