
{% extends "layout.html" %}
{% block body %}
    
    <section class="department" id="department">
        <h1 class="heading">our <span>department's</span></h1>
    
        <div class="box-container">
    
          <div class="box">
            <img src="{{ url_for('static', filename='image/dep-image/cardiologist.jpeg') }}">
            <h3>cardiology</h3>
            <span>expert-doctors</span>
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-youtube"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
            <a href="departments/catdiology.html" class="btn">learn-more<span class="fas fa-chevron-right">ll</span></a>
          </div>
    
          <div class="box">
            <img src="{{ url_for('static', filename='image/dep-image/dermatology.jpeg') }}">
            <h3>dermatology</h3>
            <span>expert-doctors</span>
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-youtube"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
    
          </div>
    
          <div class="box">
            <img src="{{ url_for('static', filename='image/dep-image/ent - 1.jpeg') }}">
            <h3>ent</h3>
            <span>expert-doctors</span>
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-youtube"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
    
          </div>
    
          <div class="box">
            
            <img src="{{ url_for('static', filename='image/dep-image/gastrointestinal.jpeg') }}">
            <h3>gastro</h3>
            <span>expert-doctors</span>
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-youtube"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
    
          </div>
    
          <div class="box">
            
            <img src="{{ url_for('static', filename='image/dep-image/neoro.png') }}">
            <h3>neorology</h3>
            <span>expert-doctors</span>
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-youtube"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
    
          </div>
    
          <div class="box">
             
            <img src="{{ url_for('static', filename='image/dep-image/nephrology.jpeg') }}">
            
            <h3>neorology</h3>
            <span>expert-doctors</span>
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-youtube"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
    
          </div>
    
          <div class="box">
            
            <img src="{{ url_for('static', filename='image/dep-image/ophthalmology.jpeg') }}">
            <h3>ophthalmology</h3>
            <span>expert-doctors</span>
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-youtube"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
    
          </div>
    
          <div class="box">
             
            <img src="{{ url_for('static', filename='image/dep-image/orthopad.webp') }}">
            
            <h3>orthopad</h3>
            <span>expert-doctors</span>
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-youtube"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
          </div>
    
          <div class="box">
            <img src="{{ url_for('static', filename='image/dep-image/pathology.jpeg') }}">
            <h3>pathology</h3>
            <span>expert-doctors</span>
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-youtube"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
          </div>
    
          <div class="box">
             
            <img src="{{ url_for('static', filename='image/dep-image/psychology.png') }}">
            <h3>psychology</h3>
            <span>expert-doctors</span>
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-youtube"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
          </div>
    
        </div>
      </section>
    
    
      {% endblock %}
